<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Crowd source</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/open_tasks">Browse</a></li>
            <li><a href="/solve_task">Solve random task</a></li>
          </ul>
        </div>
      </nav>
      <div class='container'>
          {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
            {% for category,message in messages %}
            <div class="alert alert-{{category}}">
              {{message}}
            </div>
            {% endfor %}
          {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      </div>
    </body>
</html>
