{% extends "layout.html" %}
{% block title %}AIC 13{% endblock %}
{% block content %}
{% if not task %}
<div class="alert alert-info">
    <strong>Oh, there is not task to solve!</strong> Try again later...
</div>
{% else %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Solve a task</h3>
  </div>
  <div class="panel-body">
    <form action="{{ url_for("get_solve_task") }}" method="POST">
        <input type="hidden" name="task_id" value="{{task.id}}" />
        <div class="form-group">
          <label for="user_id">Enter your user ID:</label>
          <input class="form-control" id="user_id" type="text" name="user_id" value="{{user_id}}" placeholder="User ID" />
        </div>
        <label>{{task.task_description}}</label>
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="task_text">{{task.task_text}}</p>
          </div>
        </div>
        <div>
            {% for option in task.answer_options() %}
                <input type="radio" name="answer" value="{{option}}" /> {{option}}
            {% endfor %}
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Send solution</button>
        <a class="btn btn-default" href="/">Cancel</a>
    </form>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var regex = /Is (.+) mentioned/gi;
        var result = regex.exec("{{task.task_description}}")
        if (result) {
           var keyword = RegExp.$1;
           var regex = new RegExp(keyword, "gi");
           $(".task_text").each(function(){
               $(this).replaceWith(function(){
                   return ($(this).text() || "").replace(regex, function(matched) { 
                       return '<span class="label label-primary" style="background: orange;">'+matched+'</span>'
                   })
               })
           })
           $(".task_text").each(function(){
               $(this).replaceWith(function(){
                   return ($(this).text() || "").replace(regex, function(matched) { 
                       return '<span class="label label-primary" style="background: orange;">'+matched+'</span>'
                   })
               })
           })
        }
    })
</script>
{% endif %}
{% endblock %}
