{% extends "layout.html" %}
{% block title %}AIC 13{% endblock %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">Open tasks</h1>
    </div>
    <table class="table table-striped">
        <colgroup>
            <col width="10%" />
            <col width="40%" />
            <col width="40%" />
            <col width="10%" />
        </colgroup>
        <tbody>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Text</th>
                <th>Date</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.task_description }}</td>
                    <td>{{ task.task_text | max_size(30) }}</td>
                    <td>{{ task.datetime | ago(1) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div
{% endblock %}
